:root{
    --main-color: #d3ad7f;
    --black: #000000;

}

.imgLogo{
    width: 80px;
    
}

*{
    margin: 0;
    padding: 0;
    transition: 0.2s linear;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--black);
   width: 100%;
   height: 105px;
    
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}






.inicio-container{
    background: url("./assets/imagens/image_header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 115vh;
    margin-top: 105px;
    display: flex;
    align-items: center;
    

}
    

.content{
    max-width: 60rem;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





.content h2{
    color: #fff;
    font-size: 3rem;
    padding: 1rem 0;
}

.content h3{
    color: #d3ad7f;
    margin-bottom: 10px;
    margin-top: 40px;
}

.content p{
    color: #fff;
    margin-top: 2px;
    line-height: 1.8;
    font-size: 25px;
    
}

span{
    color: #d3ad7f;
}



.navbar a {
    margin: 0 1rem;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
   
}

.agendar{
    background-color: #2e2418;
    border-radius: 3px;
    padding: 0.5rem 0.5rem;
    
}


.btn{
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 10px;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    
}

.btn:hover{
    letter-spacing: 0.2rem;
}




